{% extends 'base.html' %}
{% block content %}
<div class="container">
    <section id="about">
        <h2>О себе</h2>
        <p>Привет! Меня зовут Жаркын, и я веб-разработчик. Я создаю красивые и функциональные веб-сайты.</p>
    </section>
    <section id="projects">
        <h2>Проекты</h2>
        <div class="project">
            <h2>Проект 1</h2>
            <p>Описание проекта 1.</p>
        </div>
        <div class="project">
            <h2>Проект 2</h2>
            <p>Описание проекта 2.</p>
        </div>
    </section>
    <section id="contact">
        <h2>Контакты</h2>
        <p>Вы можете связаться со мной по электронной почте: example@example.com</p>
    </section>
</div>
{% endblock %}